
* {
  padding:0;
  margin:0;
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

/*Main Title*/
.header-top {
  padding: 2.5% 7% 0.5%;   
  text-align: center; 
  background-color: #2f3d48;
}

.title-name {
  font-size: 45px;
  color: #fff;
}

.title-role {
  font-size: 22px;
  color: #02b3e4;
}

.header-hr {
  color: #1C262F;
  background-color: #1C262F;
  margin: 1% 0;
  border: 0;
  height: 1.5px;
}

/*Contacts*/
#topContacts {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 8px;
  list-style-type: none;
}

.contact-item {
  font-size: 17px;
}

.contact-type {
  padding: 5px;
  color: #02b3e4;
}

.contact-text {
  padding: 5px;
  font-weight: bold;
  color: #fff; 
}

/*Picture and message*/
.header-middle {
  padding: 1% 7%; 
  display: flex;
  flex-wrap: wrap;  
  align-items: center;
}

.middle-image {
  width: 35%;
}

.biopic {
  padding: 10px 0 10px;
  margin-left: 45px;
  width: 200px;  
  border-radius: 50% 
}

.middle-text {
  width: 65%;
}

.welcome-message {
  margin-right: 45px;
}

.message-text {
  text-align: justify;
  font-style: italic;
  font-size: 18px;
  color: #4F4F4F;
  line-height: 26px;
}

/*Skills*/
.header-bottom { 
  padding-bottom: 1%;
}

#skills {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  padding: 0 7%; 
  list-style-type: none;
}

.skill {
  color: #4F4F4F;  
  padding: 5px;
}

/*Sections*/
.skills-title,
.projects-title,
.work-title,
.education-title {
  padding: 0.5% 7%;
  color: #2f3d48;
}

.section-title {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.online-title {
  padding: 2% 7% 0;  
}

.section-link {
  color: #1199c3;
  text-decoration: none;  
}

.skills-hr, 
.projects-hr,
.work-hr,
.education-hr {
  color: #999;
  background-color: #999;
  margin: 0.5% 0;
  border: 0;
  height: 2px;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 7%;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;
}

.work-description, 
.project-description {
  font-size: 14px;
  color: #4F4F4F;
  line-height: 21px;
}

/*Map*/
.map-hr {
  color: #999;
  background-color: #999;
  margin: 0.5% 0 1%;
  border: 0;
  height: 2px;
}
.map-title {
  color: #2f3d48;
}

#map {
  display: block;
  height: 100%;

}

#mapDiv { 
  height: 400px;
  width: 100%;
  padding: 1% 7% 5%;

}

.flex-column {
  display: flex;
/*  flex-direction: column;*/
  flex-wrap: nowrap;
  padding: 10px;
  /*Added*/
  justify-content: space-around;  
}

img {
  padding: 10px;
}

/*Footer*/
.connect-title {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

#lets-connect {
  text-align: center;
  background-color: #2f3d48;
}

#footerContacts {
  list-style-type: none;  
}


@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

@media only screen and (min-width: 750px) {
  .skills-title,
  .biopic {
    display: block;
  }
}
